---
import ExpressJS from "../icons/ExpressJS.astro"
import MongoDB from "../icons/MongoDB.astro"
import MySQL from "../icons/MySQL.astro"
import NodeJS from "../icons/NodeJS.astro"
import Docker from "../icons/Docker.astro"
---


<article class="relative rounded-2xl p-6 dark:border  dark:border-dark-900 bg-gradient-to-r dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden false"
style="border:1px solid; border-color: rgb(12, 27, 158);"
>

    <h3 class="text-center mb-8 text-xl font-bold  lg:text-4xl lg:break-words bg-gradient-to-t from-[#94a3b8] to-[#1e293b] dark:from-[#f1f5f9] dark:to-[#64748b] bg-clip-text text-transparent">
        Backend
    </h3>

        <ul class="grid grid-cols-3 gap-4 ">
            <li class="rounded-2xl  group flex flex-col  justify-center items-center">
                <ExpressJS/>
                <span class=" text-sm w-full text-center">ExpressJS</span>
            </li>
            <li class="rounded-2xl  group flex flex-col  justify-center items-center">
                <MongoDB/>
                <span class=" text-sm w-full text-center">MongoDB</span>
            </li>
            <li class="rounded-2xl  group flex flex-col  justify-center items-center">
                <MySQL/>
                <span class="text-sm w-full text-center">MySQL</span>
            </li>
            <li class="rounded-2xl  group flex flex-col  justify-center items-center">
                <NodeJS/>
                <span class="text-sm w-full text-center">NodeJS</span>
            </li>
            <li class="rounded-2xl  group flex flex-col  justify-center items-center">
                <Docker/>
                <span class="text-sm w-full text-center">Docker</span>
            </li>
        </ul>

</article>