---
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import GitHub from "./icons/GitHub.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="flex flex-col items-center justify-center gap-8 md:flex-row mt-20">
  <div class="order-2 md:order-1">
    <h1
    class="text-4xl font-bold tracking-tight  sm:text-5xl dark:text-white"
  >
    Hola, soy Nahuel
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:text-gray-200"
  >
      Soy un <span class="font-semibold spanblue"> Desarrollador de Software Fullstack</span> 
      con sede en Formosa, Argentina. 
      En mi tiempo libre practico  <span class="font-semibold" style="color: lime;">Typescript</span> y constantemente
      aprendo y conozco nuevas tecnologías.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:nahu.1999@outlook.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/nahuel-paniagua-2a272925a">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Emojins">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
  </nav>
  </div>
  <img width="250" height="250" src="/nahuel.jpg" class="order-1 rounded-full" style="position: absolute, top: 400, right: 400">
</div>

<style>

  .spanblue {
      color: rgb(30, 75, 201);
      font: bold;
  }
</style>




