

<div class="w-full mt-[68px] h-[300px] bg-cover bg-center bg-no-repeat relative">
    <img src="/fondoportfolio1.webp" class="imagenFondo">
    <div class="h-full container mx-auto px-2 lg:max-w-[740px] flex flex-col justify-end pb-24 ">
        <h1 class="text-3xl font-bold md:w-4/5 text-dark-50 z-[2]">Portafolio de proyectos</h1>
    </div>
</div>

<style>
    .imagenFondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        opacity: 0.5;
        margin-left: 60px;
        border-radius: 50%;
    }
</style>