---
import Frontend from "./Tecnologias/Frontend.astro"
import Backend from "./Tecnologias/Backend.astro"
import Aprendiendo from "./Tecnologias/Aprendiendo.astro"
import Tools from "./Tecnologias/Tools.astro"
---

<div class="pt-10 container mx-auto px-2 lg:w-[740px]">
    <section class="grid lg:grid-cols-2 lg:grid-rows-2 gap-6 lg:place-content-center">
        <Frontend/>
        <Backend/>
        <Aprendiendo/>
        <Tools/>
    </section>

</div>